@import "tailwindcss";

@theme{
  --color-primary: #27549D;
  --color-secondary: #7099DB;
  --color-accent: #F1FF24;
  --color-light-grey: #FFFFFF4D;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}
